.dayForecast {
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  padding: 0.5em 0;
}
.active > h5 {
  color: var(--link-blue);
}
.active {
  background-color: var(--light-gray);
  border-radius: 0.3em;
}
.dayForecast > img {
  width: 2em;
  height: 2em;
  margin: 0.3em auto;
}
.dayForecast > .temperature {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
h6 {
  color: var(--main-black);
  font-weight: 600;
  margin: 0;
}
h5 {
  color: var(--light-grey);
  font-weight: 200;
  margin: 0;
}
