.App {
  font-family: "Montserrat", sans-serif;
  margin: 1em;
}

:root {
  --white-color: #fff;
  --light-grey: #888888;
  --light-gray: #eee;
  --lead-red: #ee5657;
  --link-blue: #202eab;
  --main-black: #404244;
}
